.wrapper {
  display: flex;
}

.side-bar {
  background-color: #2F3E51;
  width: 300px;
  height: 100vh;
}

.side-header {
  padding: 0 20px;
  height: 100px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.room-create  a {
  border: 1px solid lightblue;
  color: deepskyblue;
  padding: 14px;
  font-size: 10px;
  text-decoration: none;
}

.room-list {
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room-name {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.now-room {
  font-size: 24px;
  color: #333;
}

.room-delete a {
  padding: 20px;
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
}

.main-chat {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}